body{
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

#iconContainer{
    width: 35vw;
    height: 50vh;
    padding: 13vh;
    background-color: #FFF;

}
#bigIcon {

    width: 35vw;
    height: auto;
}

h4{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-style: bold;
}

#titleArea {

    padding: 10vw;

}

a {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
}


#wrapper{
   
    width: 100%;
    position: fixed;
    z-index: 15;
    height: auto;
    
}

#navImg{

   display: none;

}

nav{
    
    background-color: #F9F7F7;
    
    padding: 1.5vw;
    opacity: 0.8;
    padding-bottom: .5vw;
     
}

nav ul{
    
    list-style-type: none;
    display: inline-block;
    text-align: right;
    float: right;
}


nav a{
    
    text-decoration: none;
    color: #bb1737;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 2.5vw;
   
}





nav ul li {
 
    display: inline-block;
    float: center;
    width: auto;
    height: auto;
    margin-right: 1.5vw;
     
}

nav ul a:hover{
    color: #000;
}


#about{

    background-color: #ff1744;
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;

}

#about-text1{
    height: auto;
    width: 55vh;
    text-align: justify;
    padding: 5vh;
    font-size: 3vh;
}

#about-text2{

    height: auto;
    width: 55vh;
    padding: 5vh;
    color: #40c4ff;
    background-color: #FFF; 
    font-size: 3vh;
    text-align: justify;
    position: absolute;
    right: 0px;
   


}

#about-text3{

    height: auto;
    width: 55vh;
    text-align: justify;
    padding: 5vh;
    font-size: 3vh;
    margin-top: 32vh;

}

@media screen and (max-width: 1050px){

    #bigIcon {

        width: 25vw;
        height: auto;
        padding-top: 7vh;

    }

    #iconContainer{
        width: 100%;
        background-color: #FFF;
        height: 100vh;
        padding: 0px;
    }

    #navImg{

        display: inline-block;
        float:left;
        clear: left;
        width: 7vw;
    }

    nav {

        background-color: #F9F7F7;
        padding: 1.5vw;
        opacity: 0.8;
        padding-bottom: .5vw;

    }

    nav ul {
        display: none;
    }

    #wrapper{
        text-align: center;
    }

    h4{
        font-size: 1.7em;
    }


}

